:root {
    --primary: #f85555;
    --white: #ffffff;
    ---gray: rgb(231, 229, 229);
  }
a:link {
    text-decoration: none;
  }

main{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 20px;

}

.card{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    border: 1px solid var(---gray);
    border-radius: 10px;
}

.home_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    margin-top: 100px;
}

.categories_container{
    position: fixed;
    top: 200;
    left: 0;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:space-evenly;
}


.p_category{
    margin: 0.5rem 3rem;
    height: 20px;
    font-size: 1.2rem;
    font-weight: 800;
}


.price_filter{
    
    display: grid;
    grid-template-columns: 90px 90px;
    gap: 10px;    
    padding: 20px;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 800;
    transition: display 1s;
}
.category_detail{
    margin-top: 1rem;
    cursor: pointer;
    display: block;
    transition: display 1s;
}

.hide{
    display: none;
    transition: display 1s;
}
.price_title{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(---gray);
    width: 80%;
    font-size: 1.2rem;
    font-weight: 800;
}
.category_title{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(---gray);
    width: 80%;
    font-size: 1.2rem;
    font-weight: 800;
}

.list_container{
    width: 80%;
    margin-left: 250px;
}

.img_container{
    width:300px;
    border-bottom: 1px solid var(---gray);   
    text-align: center;
}
.imgProduct{
    height: 150px;
    margin: 20px;
}

.detail_container{
    position: relative;
    width: max-content;
    height: 100px;
    color: rgb(29, 27, 27);
    font-size: 1rem;
    font-weight: 800;
    margin: 10px;
    align-items: center;
    vertical-align: middle;
}

li{
    list-style-type: none;
}
.title{
    width: 250px;
}
.price_text{
    color: rgb(206, 203, 203);
    margin: 8px 0;
}

.price_value{
    margin-left: 15px;
}

.search_container_control{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}
.search_container{
    width: 80%;
    vertical-align: middle;
}
.input_search{
    height: 40px;
    width: 90%;
    margin: 10px 0px 10px 0;
    padding: 10px;
    vertical-align: middle;
    border-radius: 10px 0 0 10px;
    background-color: var(---gray);
    border: none;
}

.search{
    color: white;
    font-size: 1.5rem;
}
.search_icon_container{
    background-color: var(--primary);
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 8px;

}
.input_price{
    height: 35px;
    font-size: 1rem;
    width: 120px;
    background-color: var(---gray);
    border: 1px solid gray;
    border-radius: 5px;
}
.arrow_down{
    cursor: pointer;
}

.icon_container_home{
    position: absolute;
    bottom: 10px;
    right: 0px;
    text-align: center;
    padding-top: 12px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--white);
    background-color: var(--primary);

}
.iconCart{
    font-size: 1rem;
}

.price_cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price_button{
    color: var(--white);
    background-color: var(--primary);
    width: 90px;
    height: 35px;
    border: none;
    border-radius: 8px;
    margin: 20px;
    
}