:root {
    --primary: #f85555;
    --white: #ffffff;
    ---gray: rgb(231, 229, 229);
}


main_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.grid_similar{
    display: grid;
    grid-template-columns: repeat(3, 150px);
    gap: 30px;
    justify-content:center;
}

header{
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 40%;
    font-size: 0.9rem;
    margin-left: 10px;
    margin-bottom: 50px;
}
.product_container{
    margin-top: 0px;
    margin-bottom: 0px;

}

.icon_circle{
    color: var(--primary);
    font-size: 0.6rem;
    margin: 0 2rem;
}

.container_detail{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 80%;
    margin: 0 30px;
}

.discover{
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--primary);
}
.title_product_{
    width: 400px;

}
.photogalery{
    width: 400px;
    text-align: left;
}



@media only screen and (min-width: 800px){
    .grid_similar{
        display: grid;
        grid-template-columns: repeat(3, 300px);
        gap: 30px;
        justify-content:center;
    }


}